* {
  align-content: center;
  text-align: center;
}
/* htmlTags ================================================ */
body{
  background-color: #D1D5DB;
  width: 1000px;
  margin: auto;
}


/* ID ================================================ */

#new-game-form{
  background-color: darkgoldenrod;
  margin: auto;
  padding: 25px;
}

#edit-form{
  background-color: darkgoldenrod;
  margin: auto;
  padding: 25px;
}

#new-comment-form{
  background-color: darkgoldenrod;
  margin: auto;
  padding: 25px;
}




/* CLASS ================================================ */
/* .main-body{
  width: 100%;
} */

/* .hidden{
  display: none;
} */

/* 
#all-games{
  background-color: aquamarine;
  width: 40%;
}

#game-comments{
  background-color: bisque;
  width: 40%
} */