* {
  box-sizing: border-box;
  align-content: center;
  text-align: center;
}
/* htmlTags ================================================ */
body{
  background-color: #D1D5DB;
  width: 1200px;
  margin: auto;
}


/* ID ================================================ */

#main-div{
  background-color: black;
  width: 1000px;
  margin: auto;
}

#game-form-div{
  background-color: blue;
  padding: 15px;
}

#new-game-form{
  background-color: darkgoldenrod;
  margin: auto;
  padding: 25px;
}

#edit-form{
  background-color: darkgoldenrod;
  margin: auto;
  padding: 25px;
}

#new-comment-form{
  background-color: darkgoldenrod;
  margin: auto;
  padding: 25px;
}




/* CLASS ================================================ */

/* .single-game-div{

} */